<app-admin></app-admin>

    <!-- 
 <div class="form-style-2">
 
    
    <form action="" method="post">
      
        <div class="row">
          <div class="col">
        <label for="field5"><span>Client Id<span class="required">*</span></span><input type="text" class="input-field" name="uid" value="" maxlength="8" /></label>
      </div>
      <div class="col">
        <label for="field0"><span>Company Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
      </div> <label for="field0"><span>Country <span class="required">*</span></span></label>
        <select name="field4" class="select-field">
        <option value="">Manager</option>
        <option value="">Assistant Manager</option>
        <option value="">Employee</option></select>
        <br>
        
        <label for="field1"><span>State <span class="required">*</span></span></label>
        <select name="field4" class="select-field">        <option value="General Question">Manager</option>
          <option value="Advertise">Assistant Manager</option>
          <option value="Partnership">Employee</option></select>
<br>
          <label for="field3"><span>Entitlement<span class="required">*</span></span></label>
          <select name="field4" class="select-field">
          <option value="">Manager</option>
          <option value="">Assistant Manager</option>
          <option value="">Employee</option>
        </select>
       <br><br>
        <label for="field2"><span>Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>
          <label for="field4"><span>Contact Person<span class="required">*</span></span><input type="text" class="input-field" name="uid" value="" maxlength="8" /></label>
          <label><span>Telephone</span><input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  /></label>
          
        </div>
          <label><span> </span><input type="submit" value="Submit" /></label>
</form> -->
<h2>
    Client Registration
  </h2>
<form class="needs-validation is-invalid" novalidate>
  <div class="form2">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Client ID</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Client ID" value="@meltwater.com" required>
       
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Company Name</label>
        <input type="text" class="form-control" id="" placeholder="Company Name" value="Meltwater" required>
        <div class="valid-feedback">
        
        </div>
      </div>
      
   
      <div class="col-md-4 mb-6 xs-12">
        <label for="validationCustomUsername">Country</label>
        <div class="select-group">
          <div class="input-group-prepend">
          </div>
          <select name="field4" style=" height:35px;" class="form-control" placeholder="Select Country" aria-describedby="inputGroupPrepend" required>
              <option value="">United State of America</option>
              <option value="">Europe</option>
              <option value="">India</option></select>
      <div class="invalid-feedback">
            Please choose a Country.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom03">Email</label>
        <input type="text" class="form-control" id="validationCustom03" placeholder="Email" required>
        <div class="invalid-feedback">
          Please provide a valid Email.
        </div>
      </div>
      
      <div class="col-md-4 mb-3">
        <label for="validationCustom04">Entitlement</label>
        <select name="field4" class="form-control" placeholder="Select Entitlement" style=" height:35px;" aria-describedby="inputGroupPrepend" required>
            <option value="">Platinum</option>
            <option value="">Gold</option>
            <option value="">Silver</option></select>
    <div class="invalid-feedback">
         
        </div>
      </div>
      <div class="col-md-4 mb-3">
          <label for="validationCustom05">Contact Number</label>
          <input type="text" class="form-control" id="validationCustom05" placeholder="Contact" required>
          <div class="invalid-feedback">
            Please provide a valid Contact Number.
          </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom05">Contact Person</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Contact Person" required>
            <div class="invalid-feedback">
              <br>
           
            </div>
          </div>
         
      <div class="col-md-4 mb-3">
          <label for="validationCustom05">Pincode</label>
          <input type="text" class="form-control" id="validationCustom05" placeholder="Pincode" required>
          <div class="invalid-feedback">
            <br>
           
          </div>
        </div>
     
    </div>
    <br>
    
    <div class="form-group">
      <div class="form-check">
          <div class="center">
       
   
  <div class="center">
    <button class="btn btn-primary" type="submit">Submit</button>
  &nbsp;
    <button class="btn btn-primary" type="Cancel">Cancel</button>
    </div></div>
      </div></div>
    </div>  </form>

  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>