<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
   
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="conntainer-fluid">
        <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="clientlist"> SELECT CLIENT</a>
        </li>
        <li> <a routerLink="search"> SELECT SEARCH</a>
            </li>
    
    </ul>
</div></div>
    </nav> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark" role="navigation">
        
      <img src="../../assets/image/icon.png" width="60px">
        <a style ="font-size: 22px;" class="navbar-brand" routerLink="">Meltwater</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
            <li class="nav-item">
              <a style ="font-size: 18px;" class="nav-link" routerLink="Client">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a style ="font-size: 18px;" class="nav-link"routerLink="clientlist">Select Client</a>
            </li>
            <li class="nav-item">
              <a style ="font-size: 18px;" class="nav-link"  routerLink="search">Select Search</a>
            </li>
            <li></li><li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> 
            <li class="nav-item ">
                <a routerLink="" class="nav-link" style="font-size: 20px;" >Logout</a>
            </li>
          </ul>
        </div>
        <!-- <div class="container">
             
        
              <div class="collapse navbar-collapse">
                <ul class="nav list-inline  ">
                     
                  <li class="">
                      <a style="color:black; font-size: 20px;" routerLink="clientlist">Select Client</a>
                  </li>
                  <li class="">
                        <a style="color:black; font-size: 20px;"
                    </li>
                    <li></li><li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> 
                    <li class="nav navbar-right ">
                            <a href="#" style="color:black; font-size: 20px;"  data-target="#logoutModal">logout</a>
                        </li>
                </ul>
          
               
              </div>
          
            </div> -->
          </nav>
<router-outlet></router-outlet>

