
<br><html><body>
<nav class="navbar header-top fixed-top navbar-expand-lg  mb-1">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <h4 style="color: white">
       Select Client</h4>
      </li>
      </ul></nav>
<form style="color:#28BBBB; text-align: center" novalidate>
  <div class="form2">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Client ID*</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Client ID" value="@meltwater.com" required>
        <div class="valid-feedback">
      
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Company Name</label>
        <input type="text" class="form-control" id="" placeholder="Company Name" value="Meltwater" required>
        <div class="valid-feedback">
        
        </div>
      </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Enter Push URL</label>
            <input type="text" class="form-control"  required>
           
            
            </div>
   
   
    
    
      
     
     </div>
    <br>
    
    <div class="form-group">
      <div class="form-check">
          <div class="center">
       
   
      
  <div class="center">
    <button class="btn btn-primary" type="submit">Submit</button>
    &nbsp;
    <button class="btn btn-primary" type="Cancel">Cancel</button>
    </div></div>
      </div></div>
    </div>  </form>

  
  </body></html>