@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);


body {
  background-image: url("../../assets/image/webback.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
}
.btn{
  text-align: center;
  width: 70%;

}
.login-card {

  padding: 100px;
  width: 500px;
  height:500px;
text-align: center;
  height: cover;
  background-color: #F7F7F7;
  margin: 0 auto ;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: aut;
  margin-top: 50px;
  margin-bottom: 30cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;
}
.login-card input[type=password] {
  width: aut;
  margin-top: 20px;
  margin-bottom: 30cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;}
  .center
  {
    text-align: center;
  }
  .auth {
    display: flex;
    flex-direction: column;
  }
  .auth > * {
    width: 200%;
    margin-top: 25px;
  }
  .container {
    padding: 50px;
    border-radius:500px;
  font-size: 20px
  }
  .md-button{
    margin-top: 20px;
    background-color:#34b7bd;
    color: white;
    text-align: center;
    margin-left: 100px;
  }
  

.login-card input[type=email] {
  height: 44px;
  font-size: 16px;

  width: 300px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  padding: 12px;
  font-weight: 100;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #34b7bd;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}