<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
   
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <div id="wrapper" class="animate">
      <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark" role="navigation">
          
    
          <a routerLink="home"><img src="../../assets/image/logos.png"  height="30px" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav animate side-nav">
              <li class="nav-item">
                <a style ="font-size: 18px;" class="nav-link " routerLink="home">Home | 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a style ="font-size: 18px;" class="nav-link"routerLink="addclient">Add Client | </a>
              </li>
              <li class="nav-item">
                <a style ="font-size: 18px;" class="nav-link"  routerLink="adduser">Add User | </a>
              </li>
              <li class="nav-item">
                  <a style ="font-size: 18px;" class="nav-link"  routerLink="">Add Developer Credentials | </a>
                </li>
                <li class="nav-item">
                    <a style ="font-size: 18px;" class="nav-link"  routerLink="">Update/Delete | </a>
                  </li>
              <li class="nav-item ">
                  <a routerLink="" class="nav-link" style="font-size: 20px;" >Logout</a>
              </li>
            </ul>
          </div>
     </nav>
     <html><body>
       
     </body></html>
<router-outlet></router-outlet>

