

.form2 {
	max-width:1000px;
	
	line-height: 30px;
	padding: 30px;

	margin-left:auto;
	margin-right: auto;
	background-image: url(../../../assets/image/bgwhite.jpg);
	border-radius: 15px;


}

body, html {
	height: 200%;
  }
  
  .bg { 
	/* The image used */
	/* background-color: #546E7A; */
  
	/* Full height */
	height: 200%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.navbar{
	width:200px;
	background-color: #28BBBB;

}

.btn {
	background-color: #28BBBB;
}




.center
{
	text-align: center;
}
