<!DOCTYPE html>
<html lang="en">

  <head>

   



    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  

    
    <meta charset="utf-8">


  
    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->

  </head>

  <body style="background-color:#37474F; height:1000px" >
    <br><br><br><br>

    <!-- Header -->
    <h2 style="color: white; padding: 10px; line-height: 30px">
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">We spot the trends before they're trending  <br>
         </div>
          <div class="intro-heading text-uppercase">   Media Intelligence & social listening tools for measuring, managing and magnifying corporate reputation in an increasingly connected world.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="http://www.meltwater.com">Tell Me More</a>
        </div>
      </div>
    </header>
</h2>

<br><br>

<h3 style="
font-size: 26px;
line-height: 1.5em;
margin: 0;
text-align: center;
color: white">

Meltwater is the world's leading media intelligence firm. Our software combines the power of AI with the most comprehensive source database in existence to bring our clients advanced media monitoring, social listening, social media management, PR Analytics and Influencer Engagement tools.

   </h3>
    <br>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2  style="color: white; padding: 10px; line-height: 30px" class="section-heading text-uppercase">A solution for every department
              See what we can do as a partner.</h2>
            </div>
        </div>
      
        
        <h3 style="
        font-size: 26px;
        line-height: 1.5em;
        margin: 0;
        text-align: center;
        color: white">
        
        <h2>Never miss a mention again</h2>
        Meltwater has been independently ranked as the leader in PR Analytics and Media Monitoring. Our local and global content partnerships give you access to the broadest possible variety of news and social media data available. But it's not just our scope that sets us apart - we use AI to sift through billions of documents in real time, so you don't have to.  
           </h3>

      </div>

    </section>


  </body>

</html>
