<div class="form-style-2">
    <div class="form-style-2-heading">ADVANCED SEARCH</div>
    <form action="" method="post">
       
 <label for="field0"><span>Name<span class="required">*</span></span><input type="text" class="input-field" name="field0" value="" /></label>				<label for="field1"><span>Success Owners</span> <button for="field1"><span>Search</span></button></label>
 
 <label for="field2"><span>Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>				<label for="field3"><span>User ID<span class="required">*</span></span><input type="text" class="input-field" name="uid" value="" maxlength="8" /></label>
    
 <label for="field4"><span>Designation<span class="required">*</span></span><input type="text" class="input-field" name="field4" value="" maxlength="8" /></label>	<label for="field5"><span>Client Id<span class="required">*</span></span><input type="text" class="input-field" name="uid" value="" maxlength="8" /></label>
   
 <label for="field6"><span> Primary Contact </span></label><button for="field6"><span>Search</span></button>								<label for="field12"><span>Area</span></label> <button for="field12"><span>Search</span></button> 
 
 <label for="field7"><span>Sales Stage</span>																<label for="field13"><span>Sales Office</span></label><button for="field13"><span>Search</span></button>																								
  <select name="field7" class="select-field">  
    <option value="All">All</option>
    <option value="Registered">Registered</option>
    <option value="Ready to go">Ready to go</option>
    <option value="Trial">Trial</option>
    <option value="Login">Login</option>
    <option value="Double Login">Double Login</option>
    <option value="Triple Login">Triple Login</option>
    <option value="Meeting">Meeting</option>
    <option value="Closed/Won">Closed/Won</option>
    <option value="Closed/Lost">Closed/Lost</option>
    <option value="Buddy">Buddy</option>
    </select></label>
    
 <label for="field8"><span>Show</span>																	<label for="field14"><span>Product Line</span><input type="checkbox" name="MDrive" value="MDrive">MDrive<br><input type="checkbox" name="MWire" value="MWire">MWire<br><input type="checkbox" name="Agency Sales" value="Agency Sales">Agency Sales<br><input type="checkbox" name="Tax Items" value="Tax Items">Tax Items<br><input type="checkbox" name="Fairhair" value="Fairhair">Fairhair<br><input type="checkbox" name="Meltwater Engage" value="Meltwater Engage">Meltwater Engage<br><input type="checkbox" name="Executive Alerts" value="Executive Alerts">Executive Alerts<br><input type="checkbox" name="Infomarts" value="Infomarts">Infomarts<br><input type="checkbox" name="Social Analytics" value="Social Analytics">Social Analytics<br> </label>
    <select name="field8" class="select-field">											
  <option value="My Opportunities">My Opportunities</option>
  <option value="My Immediate Subordinates">My Immediate Subordinates</option>
  <option value="My Extended Subordinates">My Extended Subordinates</option>
  <option value="All opportunities">All Opportunities</option>
  </select> </label>
 
 <label for="field9"><span>Marketing Release</span>															<label for="field15"><span>Qualification Status</span><select name="field15" class="select-field"><option value="All">All</option><option value="Qualified Closer">Qualified Closer</option><option value="Closing Candidate">Closing Candidate</option> </select> </label>	
    <select name="field9" class="select-field">
  <option value="All">All</option>																								
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> </label>
 
  <label for="field10"><span>Canecelled Oppurtunities</span>														<label for="field16"><span>Renewal Month</span> <select name="field16" class="select-field"><option value="All">All</option><option value="...">...</option><option value="...">...</option><option value="...">...</option> </select> </label>
    <select name="field10" class="select-field">																		
  <option value="All">All</option>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select> </label>
 
  <label for="field11"><span>Country</span>    																<label for="field17"><span>NDA</span><select name="field17" class="select-field"><option value="All">All</option><option value="Yes">Yes</option><option value="No">No</option> </select> </label>															                
    <select name="field11" class="select-field">
  <option value="India">India</option>																	
  <option value="Europe">Europe</option>                                      <input type="checkbox" name="SHOW RELEASED OPPURTUNITIES ONLY" value="SHOW RELEASED OPPURTUNITIES ONLY">SHOW RELEASED OPPURTUNITIES ONLY<br>
  <option value="America">America</option>																    <input type="checkbox" name="SHOW ENGAGEMENT EXCEPTION OPPURTUNITIES" value="SHOW ENGAGEMENT EXCEPTION OPPURTUNITIES">SHOW ENGAGEMENT EXCEPTION OPPURTUNITIES<br>
  <option value="Cannada">Cannada</option>															    	<input type="checkbox" name="INCLUDE DEACTIVATED" value="INCLUDE DEACTIVATED">INCLUDE DEACTIVATED<br>
  </select> </label>
 
 
 <label><span> </span><input type="SEARCH" value="SEARCH" /></label>
 </form>
 </div>
 
 
 
 