<app-client></app-client>
<h2>Select Search</h2>
<form class="needs-validation " novalidate>

    <div class="form2">
      <div class="form-row">
          <!-- <ul class="list-group">
              <li class="list-group-item active">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul> -->

<div class="col-md-8 mb-3">
    <label for="validationCustom04">Type Search</label><br>
    <select name="field4" class="form-control" style=" height:50px; text-align: center;" placeholder="Select Search" aria-describedby="inputGroupPrepend" required>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option></select>
        <button class="btn btn-primary" style="text-align:center;" type="submit">Search</button>
  </div>
  </div></div>